<!-- OG TAGS -->
<!-- -->

<!doctype html>
<html ng-app="freedom">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <meta property="fb:app_id" content="5620809401294363">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mednarodna sramota">
    <meta property="og:description" content="Pregled medijskih prispevkov o politični situaciji v Sloveniji, ki so jih objavljali tuji mediji od januarja 2020 do 26. maja 2021.">
    <meta property="og:image" content="https://sramota.si/img/sramota-OG.png">

    <meta name="twitter:creator" content="@danesjenovdan">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mednarodna sramota">
    <meta name="twitter:description" content="Pregled medijskih prispevkov o politični situaciji v Sloveniji, ki so jih objavljali tuji mediji od januarja 2020 do 26. maja 2021.">
    <meta name="twitter:image" content="https://sramota.si/img/sramota-OG.png">

    <meta name="author" content="danesjenovdan">
    <meta name="description" content="Pregled medijskih prispevkov o politični situaciji v Sloveniji, ki so jih objavljali tuji mediji od januarja 2020 do 26. maja 2021.">
    <title>Mednarodna sramota</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nv.d3.css" />

</head>

<body ng-controller="MainCtrl">

    <div class="jumbo"></div>
    <div class="container-fluid blackback">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 sptophalf">
                    <h1 class="display-3 front_title">Mednarodna</h1>
                    <h1 class="display-3 front_title">sramota</h1>
                    <p class="lead first-lead">
                        <span class="front_subtitle">
                            Pregled medijskih prispevkov o politični situaciji v Sloveniji, ki so jih objavljali tuji mediji od januarja 2020 do 26. maja 2021.
                        </span>
                    </p>

                </div>
                <div class="col-md-10 offset-md-1 sptopbottom">
                    <p class="byline">
                        <span class="front_byline">
                            Zbrali:
                        </span>
                    </p>
                    <p class="byline">
                        <span class="front_byline">
                            <a class="author_link" href="https://twitter.com/Virostatiq" target="_blank">Marko
                                Plahuta</a> in
                            <a class="author_link" href="https://danesjenovdan.si" target="_blank">Danes je nov dan</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row sptopmax ">
                <div class="col-md-10 offset-md-1">
                    <!-- <h2 class="display-5 "><span class="redborder">Mednarodna sramota</span></h2> -->
                    <p class="lead sptopmin">
                        Slovenci smo kot prebivalci majhne države posebej pozorni na njeno reprezentacijo v svetu. Ob dosežkih naših športnikov skačemo od ponosa, tujce vneto popravljamo z “not Slovakia, Slovenia!”, vsako omembo naše države v ameriški popularni kulturi pa <a href="https://siol.net/trendi/film/kaksne-vloge-v-tujih-filmih-in-serijah-dobiva-slovenija-9570" target="_blank">skrbno dokumentiramo</a>.
                    </p>
                    <p class="lead sptopmin">
                        Po odhodu Melanije Trump iz žarišča pozornosti imamo Slovenci opravka z novo poosebljeno mednarodno zadrego, zaradi katere bomo še naprej zardevali v pogovorih s prijatelji iz tujine. Državo nam namreč vodi človek, ki neskončno hrepeni po pozornosti in ki so ga družbena omrežja zasvojila in radikalizirala do mere, da je v svojem večnem (kulturnem) boju proti toku zgodovine opustil vsa pravila dostojne, državniške komunikacije in mednarodne diplomacije.
                    </p>
                    <p class="lead sptopmin">
                        Njegov način komunikacije je skupaj s številnimi sumi korupcije in neusmiljenim rušenjem javnih institucij, demokratičnih standardov in ustavno zagotovljenih pravic hitro pritegnil široko mednarodno medijsko pozornost. Vse to je namreč izrazito simptomatično za novodobne avtokrate in razlog, zakaj tuja javnost Janšo zlahka uvršča med predstavnike t. i. iliberalnih demokracij, ki se razraščajo po svetu.
                    </p>
                    <p class="lead sptopmin">
                        Vrhovni domoljub je tako naredil ogromno za promocijo naše države – praktično vsak teden vsaj eden od uglednih tujih medijev problematizira stanje v Sloveniji, naš “Maršal Twito” pa se na zapise odziva s primitivnimi ciničnimi tviti v polomljeni angleščini, s katerimi obklada tuje novinarje ali diplomate. S tem potrjuje prav vse, kar mu očitajo: da ga za razliko od nas ni prav nič sram primerjav s Trumpom, Orbanom in Vučićem, a da ga od vzornikov ločuje predvsem njegova nesposobnost.
                    </p>
                    <h2 class="display-5" style="margin-top: 80px;"><span class="redborder">Povzetek</span></h2>
                    <p class="lead sptopmin">
                        Vlada vztrajno zavrača očitke o okrnjenem mednarodnem ugledu Slovenije, vendar pa naša analiza kaže drugačno sliko.
                    </p>
                    <p class="lead sptopmin">Seznam prispevkov tujih medijev, ki so od nastopa vlade Janeza Janše pisali o Sloveniji, je dolg in raznolik.</p>
                </div>
            </div>
            <div class="row sptopmax">
                <div class="col-md-3">
                    <h1 class="text-center display-1" style="color: #b3043a"><b>882</b></h1>
                    <p class="text-center"><b>prispevkov</b></p>
                </div>
                <div class="col-md-3">
                    <h1 class="text-center display-1" style="color: #b3043a">25+</h1>
                    <p class="text-center">različnih jezikov</p>
                </div>
                <div class="col-md-3">
                    <h1 class="text-center display-1" style="color: #b3043a">60+</h1>
                    <p class="text-center">držav</p>
                </div>
                <div class="col-md-3">
                    <h1 class="text-center display-1" style="color: #b3043a">574</h1>
                    <p class="text-center">medijev</p>
                </div>
            </div>
            <div class="row sptopmax">
                <div class="col-md-10 offset-md-1">
                    <p class="lead sptopmin">
                        Število prispevkov se je v zadnjih mesecih opazno povečalo, večina pa ni vzpodbudnih, kar se pogosto vidi že iz naslovov. Za lažji pregled smo vse zbrane prispevke opremili s povezavami do slovenskih Google Translate prevodov.
                    </p>
                    <h2 class="display-5 " style="margin-top: 80px;"><span class="redborder">Metodologija</span></h2>
                    <p class="lead">
                        Pred iskanjem relevantnih prispevkov smo pripravili <a href="/data/queries.txt" target="_blank">seznam</a> iskalnih pojmov, ki se nanašajo na obdobje od začetka Janševe vlade oziroma trenutka, ko je postalo jasno, da se bodo začeli odzivi na njene metode v tuji javnosti množiti.
                    </p>
                    <p class="lead">
                        Nato smo z orodjem Google Search Engine strojno poiskali vse prispevke in rezultate ročno prečistili tako, da so ostali samo tisti, ki se v izbranem obdobju nanašajo na Slovenijo in politika Janeza Janšo (torej ne katerega od umetnikov ali slikarja Antona Janšo).
                    </p>
                    <p class="lead">Rezultate smo obogatili tako, da smo avtomatsko obiskali vse spletne naslove in v rezultate namesto okrajšanih Googlovih vstavili prave naslove in strojno prepoznali ter obdelali datume objave.</p>
                    <p class="lead">Podatke o državah, iz katerih izvirajo prispevki, smo dobili tako, da smo preverili končnico domene medija. Domene .com, .org in podobne splošne domene smo označili z “mednarodno”.</p>
                </div>
            </div>
            <div class="row sptopmax">
                <div class="col-md-5 offset-md-1" style="padding-bottom: 40px;">
                    <h2 class="display-5 "><span class="redborder">Deli</span></h2>
                    <p class="lead">Pomagaj, da še drugi vidijo razsežnosti sramote.</p>
                    <div class="buttons">
                        <button class="btn btn-social js-twitter">
                            <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z">
                                </path>
                            </svg>
                        </button>
                        <button class="btn btn-social js-facebook">
                            <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z">
                                </path>
                            </svg>
                        </button>
                        <button class="btn btn-social js-email">
                            <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-md-5" style="padding-bottom: 40px;">
                    <h2 class="display-5 "><span class="redborder">Podpri nas!</span></h2>
                    <p class="lead">Želiš videti več takih projektov?</p>
                    <button class="btn btn-social doniraj">
                        Doniraj
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container whiteback">
        <div class="row sticky chart_div" ngIf="lang.name == 'jeziku'">
            <div class="col-12">
                <nvd3 options="multibar_options_date" data="timeline"></nvd3>
            </div>
        </div>
        <div class="row sticky chart_div" id="news">
            <nav class="navbar navbar-expand-lg navbar-light col-12 justify-content-end">
                Filtriraj po:
                <ul class="nav nav-tabs ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">{{lang.name}}</a>
                        <div class="dropdown-menu">
                            <div class="row" style="width:30em;">
                                <div class="col-12 dropdown-item" ng-click="filter_lang('all')">vsi jeziki</div>
                                <div class="col-4 dropdown-item" ng-repeat="m in lang_array"
                                    ng-click="filter_lang(m.lang)">{{m.name}}</div>
                            </div>

                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">{{era.name}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" ng-click="filter_era(0)">Vsa obdobja</a>
                        <a class="dropdown-item" ng-click="filter_era(1)">Čestitke Trumpu</a>
                        <a class="dropdown-item" ng-click="filter_era(2)">Vladavina prava</a>
                        <a class="dropdown-item" ng-click="filter_era(3)">Non-paper</a>
                        <a class="dropdown-item" ng-click="filter_era(4)">Pregon tiska in STA</a>
                    </div>
                </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link disabled" ng-click="reset()">Prikaži vse</a>
                </li> -->
                    <!-- <li class="nav-item">
                    <p class="nav-link " >
                        <input class="form-control form-control" type="text" placeholder="iskanje" ng-model="searchQuery"
                               ng-keydown="$event.keyCode === 13 && filterResults()">
                    </p>
                </li>
                <li class="nav-item">
                    <p class="nav-link " >
                        <button class="btn btn-primary btn" type="button" id="searchButton" ng-click="filterResults()">Najdi</button>
                    </p>
                </li> -->

                </ul>
            </nav>
        </div>
        <div ng-repeat="key in groupKeys" style="margin-top: 40px;" id="{{ groupedNews[key][0].weekId }}" class="week-container">
            <div class="row" *ngIf="groupedNews[key].length !== 0">
                <div class="col">
                    <h1><span class="redborder">{{ groupedNews[key][0].week }}</span></h1>
                </div>
            </div>
            <div class="row sptop">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 20px;"
                    ng-repeat="item in groupedNews[key]">
                    <news-item item="item"></news-item>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/vendor/nv.d3.min.js"></script>
    <script src="/js/vendor/angular-nvd3.js"></script>
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/js/app.js"></script>
    <script src='js/vendor/popper.min.js'></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/wade.min.js"></script>
    <script src="js/MainController.js"></script>
    <script src="js/newsItemDirective.js"></script>

</body>

</html>